.home {
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

img {
  position: absolute;
  z-index: -999;
}

button {
  position: relative;
  z-index: 999;
  top: 625px;
  left: 39%;
  color: white;
  background-color: rgb(255,255,255,0.2);
  border-radius: 365px;
  width: 75px;
}

button a {
  color: white;
  text-decoration: none !important;
}
